@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #004d40;
}

/* custom style  */
.text-primary {
  color: var(--primary-color) !important;
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
.form-control {
  border-color: rgb(199, 195, 195);
}
.form-control:focus,
select:focus {
  border-color: var(--primary-color);
  box-shadow: none;
}

#side_nav {
  background: var(--primary-color);
  min-width: 250px;
  max-width: 250px;
  transition: all 0.3s;
  height: 100vh;
}

.content {
  min-height: 100vh;
  width: 100%;
  /* padding: 20px; */
}
.dashboard-content {
  height: 100vh;
  overflow-y: scroll;
  padding: 0px 20px 20px 20px;
}

hr.h-color {
  background: #eee;
}

.sidebar li a {
  color: #fff;
}

@media (max-width: 767px) {
  #side_nav {
    margin-left: -250px;
    position: absolute;
    min-height: 100vh;
    z-index: 1;
  }
}

/* DASHBOARD */
.dashboard i {
  font-size: 40px;
}
.dashboard p {
  font-size: 20px;
}
.select2-container--open {
  z-index: 5000 !important;
}
.select2-results__option[aria-selected="true"] {
  background-color: var(--primary-color) !important;
  color: white !important;
}
.select2-results__option:hover {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  color: #444 !important;
  line-height: 34px !important;
  text-align: left !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #dee2e6 !important;
  height: 36px !important;
  border-radius: 0.375rem;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 6px !important;
}

.dataTables_length label {
  display: flex !important;
  gap: 10px;
  align-items: center;
}

.modal-backdrop {
  z-index: 10 !important;
}

/* Navbar */

.navbar {
  height: 60px;
}
.navbar img {
  height: 40px;
}

/* Login Page */

.login-page {
  height: 100vh;
}
.form-container {
  height: 33rem;
  width: 60rem;
  box-shadow: 0px 6px 12px 0px #00000022;
}
.form-container .part-1 {
  height: 100%;
  width: 50%;
  /* background-color: #004d40; */
  background-image: url("../img/Hostal-and-Room.png");
}
.form-container .part-2 {
  height: 100%;
  width: 50%;
}
.form-container .part-2 .form {
  width: 100%;
}
.form-container .part-2 input {
  width: 80%;
  margin: auto;
  height: 3rem;
}
.form-container .part-2 h2 {
  color: #004d40;
}

.form-container .part-2 input[type="submit"] {
  border: none;
  background: var(--primary-color);
  color: white;
  font-weight: bold;

  transition: 0.2s;
  /* margin: 20px 0px; */
  margin: auto;
}

.active > .page-link,
.page-link.active {
  background-color: var(--primary-color) !important;
}

.setting-img-con {
  height: 200px;
  width: 200px;
}
